body {
  font-family: sans-serif;
}

.form-container {
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 600px;
  margin: 15px auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: dodgerblue;
  font-size: 18px;
}

.form-group input {
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid dodgerblue;
  border-radius: 5px;
}

.form-control {
  width: 50%;
  padding: 5px;
  outline: none;
  border: 1px solid dodgerblue;
}

.btn {
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  transition: all 0.5s linear;
  cursor: pointer;
}

.btn-save {
  background-color: dodgerblue;
  color: #fff;
}

.btn-save:hover {
  background-color: rgb(14, 121, 228);
}

.title {
  text-align: center;
  color: dodgerblue;
  text-decoration: underline;
}
